{% extends 'app/base.html' %}
{% load static %}
{% block title %}Add To Cart{% endblock title %}

{% block main-content %}


<div class="container my-5">
    <h1 class="text-center mb-5">Shopping Cart</h1>
    <div class="row">
      {% if cart %}
      
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-body">
            <h3>Cart</h3>
            {% for item in cart %}
            <div class="row mb-4">
              <div class="col-md-3 text-center align-self-center">
                <img src="{{item.product.product_image.url}}" alt="" srcset="" class="img-fluid img-thumbnail shadow-sm" height="150" width="150">
              </div>
              <div class="col-md-9"> 
                <div>
                  <h5>{{item.product.title}}</h5>
                  <p class="mb-2 text-muted small">{{item.product.description}}</p>
                  <div class="d-flex align-items-center mb-3">
                    <label for="quantity">Quantity :</label>
                    <a class="minus-cart btn btn-sm  mx-2" pid={{item.product.id}}><img src="{% static 'app/images/banner/minus.webp' %}" alt="" height="18" width="18"></a>
                    <span id="quantity" class="mx-2">{{item.quantity}}</span>
                    <a class="plus-cart btn btn-sm  mx-2" pid={{item.product.id}}><img src="{% static 'app/images/banner/plus.webp' %}" alt="" height="18" width="18"></a>
                  </div>
                  <div class="d-flex justify-content-between">
                    <a href="#" class="remove-cart btn btn-sm btn-secondary mr-3" pid={{item.product.id}}>Remove Item</a>
                    <p class="mb-0"><span><strong>Rs.{{item.product.discounted_price}}</strong></span></p>
                  </div>
                </div>
              </div>
            </div>
            <hr class="text-muted">
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h3>Order Summary</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Amount</span>
                <span id="amount">Rs. {{amount}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Shipping</span>
                <span>Rs. 40.0</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                  <strong>Total</strong> <small>(including GST)</small>
                </div>
                <span id="totalamount"><strong>Rs. {{totalamount}}</strong></span>
              </li>
            </ul>
            <div class="d-grid">
              <a href="{% url 'checkout' %}" class="btn btn-primary btn-block">Place Order</a>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <h1 class="text-center mb-5">Cart is Empty</h1>
      {% endif %}
    </div>
  </div>


{% endblock main-content %}