{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}

{% block main-content %}

<h1 class="info">Contact Us</h1>

<section class="contact-us">
    <div class="container">
        <p>We'd love to hear from you! Reach out to us using the information below.</p>
        <div class="contact-info">
            <div class="info-box">
                <h2>Our Address</h2>
                <p>Rajkot , Gujarat , India</p>
            </div>
            <div class="info-box">
                <h2>Our Outlets</h2>
                <p>Rajkot, Surat, Ahmedabad</p>
            </div>
            <div class="info-box">
                <h2>Email Us</h2>
                <p><a href="mailto:info@dairyproducts.com" style="color: black; text-decoration: none;">neeldairyrajkot@gmail.com</a></p>
            </div>
            <div class="info-box">
                <h2>Call Us</h2>
                <p><a href="tel:+11234567890" style="color: black; text-decoration: none;">+91 7984799535</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock main-content %}