{% extends 'app/base.html' %}
{% load static %}
{% block title %}Address{% endblock title %}

{% block main-content %}

<div class="container my-5">
    <h3>Welcome , <span>{{request.user.username|capfirst}}</span></h3>
    <div class="row">
        <div class="col-sm-2 border-right">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{%  url 'profile' %}" class="btn btn-primary">Password chnaged</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password changed Suucessfully !!!</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}